@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");


:root {
    /* Colors */
    --dark-color: #010626;
    --primary-color: #1FF072;
    --secondary-color: #D98236;
    --tertiary-color: #F22816;
    --quaternary-color: #8C1818;
    /* Fonts */
    --main-font:'DotGothic16', sans-serif;
}

body {
/*     background-image: linear-gradient(to bottom, #405166 0%,#656f6f 100%);
 */    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    height:100vh;
    font-family: var(--main-font);
    color: white;
    overflow: hidden;
    padding:15px;
}


.container {
    width:500px;
    height:500px;
    margin:auto;
    margin-top:5%;
    display:grid;
    grid-template-areas: 'one two three'
                         'four five six '
                         'seven eight nine';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    position:relative;
    bottom:150px;
    display:none;
    z-index:20;

}

.box {
    border:solid 1px var(--secondary-color);
    width:162px;
    height:162px;
    background-color:#1FF072;
    border-radius: 5px;
    font-size:60px;
    text-align: center;
    padding-top: 30px;
}
.box:hover {
    background-color: #22a2f2bd;
    cursor: pointer;
}
.box:active {
    transform: scale(.98)
}

#boxone {
    grid-area: one;
    transition: 0.2s all;
}

#boxtwo {
    grid-area: two;
}

#boxthree {
    grid-area: three;
}

#boxfour {
    grid-area: four;
}

#boxfive {
    grid-area: five;
}

#boxsix {
    grid-area: six;
}

#boxseven {
    grid-area: seven;
}

#boxeight {
    grid-area: eight;
}

#boxnine {
    grid-area: nine;
}

.select {
    color:white;
}

.counter {
    border: 1px solid white;
    width:100px;
    height:100px;
}

.heading {
    display:flex;
    width:300px;
    height:100px;
    justify-content: center;
    margin:auto;
}

.names {
    width:100px;
    height:100px;
}

.lets {
    font-size:100px;
    animation: jump .9s ease-in-out 2;
}

.play {
    /* position: relative; */
    font-size:100px;
    left:30px;
    animation: jump .7s ease-in-out 2;
    display:inline-block;
}

.mainbox{
    margin:auto;
    width:900px;
    display:flex;
    justify-content: center;
    
}


@keyframes jump {
    0%,
    60% {
      transform: translate3d(0, 0, 0) scaleY(1);
    }
    30% {
      transform: translate3d(0, -8px, 0) scaleY(1);
    }
    75% {
      transform: translate3d(0, 3px, 0)  scaleY(.5);
    }
    100% {
      transform: scaleY(1) translate3d(0, 0, 0)
    }
  }

.othercontainer{
    position: relative;
    margin:auto;
    width:400px;
    bottom:40px;
    display:block;
    z-index:4;
}

.Tic {
    text-align: center;
    font-size:60px;
    color:#11D9B1;
    height:100px;
}

.Tac {
    text-align: center;
    font-size:60px;
    color: #14c3f8;
}

.Toe {
    text-align: center;
    font-size:60px;
    color:#069bff;
}

.fa-times {
    color:var(--primary-color);
    margin-right:27px;
}

.fa-circle {
    color:var(--secondary-color);
    margin-right:22px;

}

.fa-times-circle {
    color: var(--tertiary-color);
    margin-right:20px;

}

.inputcontainer {
  width:99%;
  position: absolute;
    display: flex;
    justify-content: center;
   margin:auto;
   z-index:50;
    
}

.playeronecard {
   background-color: rgba(255, 255, 255, 0.774);
   width:220px;
   height:110px;
   border-radius: 15px;
   padding:10px;
   display:inline-block;
   z-index:50;
   margin-right:100px;
}

.playertwocard {
   background-color: rgba(255, 255, 255, 0.774);
   display:inline-block;
   width:220px;
   height:110px;
   border-radius: 15px;
   padding:10px;
   z-index:50;
}
 
.player {
   color:black;
   font-size:20px; 
   display:inline;
}

input[type=text] {
    border-radius: 5px;
    height:30px;
    font-family: var(--main-font);
}

.ready {
        height:35px;
        margin-top:2px;
        border-color: var(--secondary-color);
        color: black;
        background-image: -webkit-linear-gradient(45deg #F22816, 50%, transparent 50%);
        background-image: linear-gradient(45deg, #F22816 50%, transparent 50%);
        background-position: 100%;
        background-size: 400%;
        -webkit-transition: background 300ms ease-in-out;
        transition: background 300ms ease-in-out;
        font-family: var(--main-font);
        border:2px solid;
        border-radius: 0.6em;
      }

.ready:hover {
        background-position: 0;
        color:white;
        transform: scale(.95);
        cursor:pointer;
}

.vs {
    color:var(--tertiary-color);
    font-size:40px;
    width:100px;
    display:inline;
    position: fixed;
    display:none;
    margin:auto;
    transform: rotate(0.05turn);
   
}

.winnerbox {
    margin:auto;
    position: absolute; 
    left:0;
    right:0;
    bottom:0;
    top:0;
    font-size: 56px;
    color:black;
    width:360px;
    height:260px;
    z-index:50;
    display:none;
    background-color: #17b155;
    background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
    border:var(--secondary-color) 2px solid;
    color:black;
    text-align: center;
    
}


.fa-user-secret {
    color:black;
    position:relative;
    font-size:24px;
    display:inline;
    margin-right:10px;
}

.fa-user-ninja {
    color:black;
    position:relative;
    font-size:24px;
    display:inline;
    margin-right:10px;
}

.yes {
    width:100px;
    background:transparent;
    font-size:100px;
    color:white;
    cursor:pointer;
    position:relative;
    top:20px;
    height:100px;
    border:none;
}

.popup {
    background-color: #fff;
    color:red;
    width:100px;
    padding:5px;
    border-radius: 10px;
    display:none;
}


/* Media Queries */

@media only screen and (max-width:600px){
    .box {
        width:100px;
        height:100px;
    }

    .mainbox {
        position:absolute;
        left:0%;
        width:100px;
    }

    .mainbox > h1 {
        font-size: 70px;
        margin:auto;
    }

    .container {
        width:60%;
        top:100px;
        height:100px;
        position: relative;
        margin:auto;
        
 
    }

    #ttt {
        display:flex;
        position: relative;;
        width:90%;
        margin-left: auto;
        margin-right: auto;
    }

    .inputcontainer {
        width:99%;
        margin:auto;
        position: absolute;
        left:0px;
        top:400px;
    }

}

 @media only screen and (max-width:768px){
    .mainbox {
        position:absolute;
        margin:auto;
        width:99%;
    }

    #ttt {
        position:absolute;
        margin:auto;
        width:99%;
        height:60%;
        top:90px;
    }

    .inputcontainer {
        /* width:60%;
        margin:auto;
        top:390px;
        position: relative;
        left:0px; */
        position: absolute;
        top:500px;
        
        margin:auto;
        width:99%;
    }

    .playeronecard {
        margin-right:0px;
    }

   
} 


